.product-images-slider-container{
    width: 100%;
    padding-top: 20px;

    .product-images-slider{
        width: 100%;
        height: 65vh;
        margin: 0;  
        border-radius: 10px;
        margin-bottom: 20px;

        .swiper-slide{
            overflow: hidden;
            position: relative;
        }
    
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
        }
    
        .swiper-button-prev{
            left: 30;
            color: #fff;
        
        }
    
        .swiper-button-next{
            right: 30;
            color: #fff;
        }
    }
    
    .product-images-thumbs-wrapper{
        padding-top: 0px;
    
        .product-images-thumb{
            .swiper-slide{
                cursor: pointer;
                border: 1px solid #dddbdb;
                border-radius: 10px;
                align-items: center;
                &-thumb-active{
                    border-color: #00d6dd;
                    border-radius: 10px;
                    img{
                        opacity: 100%;
                    }
                }
            }
        
            &-wrapper{
                width: 100%;
                padding-top: 60%;
                overflow: hidden;
                position: relative;
        
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    opacity: 50%;
                    border-radius: 10px;
                }
            }
        }
    }
}


