.showmore__container{
    position: relative;
    margin-top: 20px;
    height: 100%;
}

.showmore__card{
    position: relative;
    width: 100%;
    height: 100%;
}

.showmore__content{
    position: relative;
    max-height: 400px;
    overflow: hidden;

    &:before{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(transparent, #2e2e2e);
        border-radius: 5px;
    }
}

.showmore__btn{
    position: relative;
    padding: 15px 15px;
    width: 100%;
    background: #4a4a4a;
    display:inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    &:before{
        content: "Show More";
    }
}

.showmore__card.active .showmore__btn{
    &:before{
        content: "Show Less";
    }
}

.showmore__card.active .showmore__content{
    max-height: 100%;
    &:before{
        display: none;
    }
}
