/* .main {
  margin: 30px 8px 40px;
} */

.container {
    overflow-x: none;
    display: flex;
    gap: 1px;
    width: 100%;
    justify-content: space-between;
}
/* 
.container {
    display: flex;
} */

.cards::-webkit-scrollbar {
  display: none;
}

.slick-slide {
    width: calc(25% - 16px) !important;
    margin-bottom: 28px;
    /* scroll-snap-align: start;
    width: 100%;
    height: 100%; */
  }

.card {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 125ms ease-in-out;
  min-width: 231px;
  margin-top: 28px;
  gap: 20px;
  background: rgb(32, 32, 32);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px 20px 24px;
  margin-bottom: 28px;
}

.card_text {
  font-size: 18px;
}

.card:hover {
  background-color: #373737;
  cursor: pointer;
}
