/* 

.padding__left {
  padding-left: 15px;
}

.padding__right {
  padding-right: 15px;
}

.padding__top {
  padding-top: 15px;
}

.padding__bottom {
  padding-bottom: 15px;
}

.onhover_white_color {
  color: var(--gray-text) !important;
}

.onhover_blue_color {
  background-color: #2e8ef0;
}

.icon > img {
  height: 20px;
}

.download_btn {
  height: 100%;
}

#content-area {
  display: none;
}

.menu {
  display: none !important;
}

.header__main__div {
  display: flex;
  height: 56px;
  background-color: #2a2a2a;
  align-items: center;
  justify-content: space-between;
}

.header__first {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-left: 0.5em;
  cursor: pointer;
}

.header_navigation {
  display: flex;
  height: 3.7em;
  align-items: center;
  color: #e7e7e7;
}

.header_navigation div {
  width: 100%;
}

.header_navigation p {
  margin: 0;
  padding: 0;
  font-size: 12px;

  font-weight: 500;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header_navigation__item {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 100%;
  color: #cccccc;

  position: relative;
}

.header_navigation__item:hover::before .onhover_white_color {
  color: white !important;
  text-decoration: none;
  border-bottom: 5px solid #0078f2;
}

.header_navigation__item::before .onhover_white_color {
  content: ""; 
  background-color: #a2a2a2;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  transition:  height .0.3s ease-in-out;
}

.header__second {
  display: flex;
  align-items: center;
  color: #cccccc;
  height: 100%;

}

.header__button {
  background-color: #0078f2;
  border: none;
  color: white;
  height: 56px;
  padding: 20px 30px;
  font-size: 12px;
}

.header__logo {
  cursor: pointer;
}

.header__second__user {
  display: flex;
  align-items: center;
}

#header__rewrite {
  font-size: 12px;
}

*/


.header_logo {
  margin-right: flex;
  cursor: pointer;
}
.icon >img{
  height: 0.9em;
}

.onhover_white__color:hover {
  color: white;
}

.navbar a{
  font-size: 12px;
}

.navbar {
  height: 54px;
}

.header_logo {
  height: 100%;
}

.center > img {
  display: flex;
}

/* .center {
  display: inline-block;
} */

.language_icon {
  margin-right: 40px;
}

.user {
  margin-left: 24px;
  flex-direction: row;
  position: relative;
  /* cursor: pointer; */
}

.user:hover {
  color: white;
}

.user_state {
  position: absolute;
  left: -20px;
  top: -5px;
}

.signin_btn {
  /* position: absolute; */
  right: 0;
  margin-right: 10px;
  border: none;
  color: #e7e7e7;
  font-size: 12px;
  display: inline-block;
}

.signin_btn:hover {
  border: none;
  pointer-events: visible;
}

.popover_user ul{
  border-radius: 0;
  background-color: #2a2a2a;
  color: var(--seconday-text);
  font-size: 12px;
}

.popover_user ul div:hover{
  color: white;
}

/* .popover_user div  */

.download_btn {
  height: 100%;
  /* min-width: 70px; */
  font-size: 12px;
  margin-left: 10px;
  background-color: #0078f2;
  border-radius: 0px;
  letter-spacing: 1px;
  /* display: inline; */
  /* right: 0; */
  display: flex;
  justify-content: right;
}

.download_btn:hover {
  background-color: #007dfc;
}

.toolbar {
  height: 100%;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  /* display: flex; */
  /* overflow: hidden; */
}

.divider {
  padding: 0;
  width: 0.1px;
  border-left: 0.2em solid #e7e7e7;
}

/* .unreal_engine {
  border-left: 1em solid #e7e7e7;
  padding: 0.5em;
} */

.menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .display__none {
    display: none;
  }

  .tabs {
    display: none;
  }

  .toggle {
    position: relative;
    width: 56px;
    height: 55px;
    background-color: #0078f2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }

  .toggle span {
    position: absolute;
  }

  .toggle span {
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 0.2s;
  }

  .toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 40px;
    left: 8px;
  }

  .toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 40px;
    left: 8px;
  }

  .toggle.active span:nth-child(3) {
    transform: translateX(60px);
  }

  .toggle.active span:nth-child(1) {
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
  }

  .toggle.active span:nth-child(2) {
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
  }
}

#content-area {
  display: block;
}

.sidemenu {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #2a2a2a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mainMenu {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.mainMenu p {
  text-align: left;
  font-size: 12px;
}

.sidemenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.mainMenu p:hover {
  color: #fff;
}

.sidemenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 32px;
  margin-left: 50px;
}