.container{
    margin: auto;
    max-width: 1600px;
    padding: 35px 132px;
    .about_game{
        .nav_game{
            .nav_game__container{
                .title{
                    font-size: 50px;
                    line-height: 50px;
                    letter-spacing: -1px;
                }
            }
        }
    }
}

.infomation_game{
    display:flex;
    flex: row;
}

.infomation_game__description__col0{
    width: calc(100% - 400px);
}

.infomation_game__description__col1{
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 100%;
    flex: 1;
}

.payment{
    position: sticky;
    top: 100px;
    margin-left: 64px;
}

.description{
    padding-top: 25px;
    
    /* Set up content of about game*/
    .about_game__description{
        font-size: 20px;
        letter-spacing: 1px;
        color: #fff;
    }
}

.type_game{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: stretch;
    justify-content: space-between;
    -webkit-box-align: stretch;
    margin-top: 20px;

    .type_game__container{
        position: relative;
        padding-left: 30px;
        flex: 1 1 calc(33.3333%);
        display: flex;
        flex-direction: column;
        .type_game__title{
            color: #b9b9b9;
        }

        .type_game__list_feature{
            text-decoration: underline;
            cursor: pointer;
        }

        &:before{
            content: " ";
            height: 100%;
            border-left: solid 1px #474747;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.showmore{
    margin-top: 20px;
}

.showmore__content__text{
    letter-spacing: 1px;
    font-size: 16px;
    color: #b9b9b9;
    padding-bottom: 5px;
}


.specifications{
    margin-top: 50px;

    .specifications__table{
        margin-top: 30px;
    }
}

.title{
    font-size: 20px;
    color: #fff;    
}

@media (min-width = 1120px) {
    .container{
        margin: 0 132px;
    }
}