.wishlist__item__container{
    background-color: #232323;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.wishlist__item__wrapper{
    display: flex;
    flex-direction: row;
}


.wishlist__item__img{
    display: flex;
}

.wishlist__item__img img{
    width: 150px;
    height: 200px;
    display: block;
    image-rendering: -webkit-optimize-contrast;
}

.wishlist__item__info{
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    padding-left: 20px;
}

.wishlist__item__top{
    display: flex;
    justify-content: space-between;
    align-items: top;
    order: 0;
    flex-grow: 1;
}

.wishlist__item__name{

}

.wishlist__item__name span{
    font-size: 30px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.wishlist__item__price {
    zoom: 1.5;
}

.wishlist__item__bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 0.5;
    order: 0;
    align-items: flex-end;
}

.wishlist__item__btns{
    display: flex;
    flex-direction: row;
}

.wishlist__item__btn{
    margin-left: 30px;
    border: none;
    background: none;
    color: #fff;
}

.wishlist__item__btn__remove{
    text-decoration: underline;
    color: #b5b5b5;

    &:hover{
        text-decoration: none;
    }
}

.wishlist__item__btn__view_cart{
    border: solid #fff 1px;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.25s ease-out;

    &:hover{
        background: #5d5d5d;
    }
}
